In [43]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [58]:
browser = webdriver.Chrome()
options = webdriver.ChromeOptions()
options.add_argument('headless')

In [59]:
attributes={
    'Employer': [],
    'Job Title': [],
    'Base Salary': [],
    'Location': [],
    'Submit Date': [],
    'Start Date': [],
    'Case Status': []}

In [60]:
companies = ['f5+networks', 'avanade', 'amazon', 'nordstrom', 'cray', 'tableau', 'zulily', 'perkins+coie', 'zillow', 'trident', 'milliman', 'blue+nile', 'moss+adams', 'regence', 'virginia+mason', 'carrix', 'safeco', 'inside+inc', 'apex+learning', 'trupanion']

In [ ]:
for company in companies:
    browser.get('https://h1bdata.info/index.php?em=' + company + '&job=&city=&year=All+Years')
    time.sleep(5)
    trs = browser.find_elements(By.TAG_NAME, "tr") 

    for tr in trs[1:]:
        tds = tr.find_elements(By.TAG_NAME, "td")
        for td, (k, v) in zip(tds,attributes.items()):
            attributes[k].append(td.text)

In [56]:
attributes

{'Employer': [],
 'Job Title': [],
 'Base Salary': [],
 'Location': [],
 'Submit Date': [],
 'Start Date': [],
 'Case Status': []}

In [ ]:
def get_elements_from_selector(tr):
    
    try:
        res = tr.find_elements(By.TAG_NAME, "td").text
    except:
        res = np.nan
    return res

In [10]:
trs

NameError: name 'trs' is not defined